<?xml version="1.0" encoding="UTF-8" ?>
<suite name="套件">
   <test name="testname">
      <classes>
         <class name="com.test.extend.demo.TestExtendDemo"/>
         <methods>
            <include name="test1"/>
            <include name="test2"/>
            <include name="test3"/>
            <include name="test4"/>
         </methods>

      </classes>
   </test>
   <listeners>
      <!--<listener class-name="com.vimalselvam.testng.listener.ExtentTestNgFormatter"/>
      <listener class-name="com.test.extend.demo.ExtentTestNGIreportListenerOld"/>-->
      <listener class-name="com.test.extend.demo.ExtentTestNGIreportListener"/>
   </listeners>
</suite>